<div class="h-full w-full flex gap-2">
  <div class="w-full flex gap-4">
    <div class=" w-1/6 flex flex-col gap-4 bg-white card">
      <div class="button-tesi orange" (click)="OpenCreatePopup()">
          <p class="text-center">Create new thesis </p>
          <!--<app-icon name="add" class="w-4 h-4"></app-icon>--><!--Should restore this line but it gives problems-->>
      </div>
      <div class="separator"></div>
      <!--<button class="dropdownButton " (click)="OpenCreatePopup()"> Crea Nuova Tesi</button>-->
      <div class="w-full flex flex-col gap-6">
        <div class="h-full w-full flex flex-col gap-2">
          <h2 class=""> Lists of theses </h2>
          <button class="dropdownButton " (click)="showActiveThesesTable()"> Active </button>
          <button class="dropdownButton " (click)="showArchivedThesesTable()"> Archived </button>
        </div>
        <div class="h-full w-full flex flex-col gap-2">
          <h2 class=""> List of applicants </h2>
          <button class="dropdownButton  items-start" (click)="showApplicantsTable()"> Show</button>
        </div>
      </div>
    </div>
    <div class="card h-full p-5 w-5/6 ">
      <app-thesis-table [rows]="applicantsRow" *ngIf="showApplicants"></app-thesis-table>
      <!--
      <app-thesis-table [rows]="activeThesesRow" *ngIf="showActiveTheses"></app-thesis-table>
      <app-thesis-table [rows]="archivedThesesRow" *ngIf="showArchivedTheses"></app-thesis-table>
      -->
    </div>
  </div>

</div>

<app-popup
  *ngIf="createPopup"
  (requestAccepted)="requestAccepted = $event; OpenCreatePopup()"
  (close)="OpenCreatePopup()"
  [closeClickOutside]="false"
  (send)="insertThesis()"
  [response]="response"  >
  <div class="flex flex-col h-full w-full ">
    <div class="p-4 w-full flex flex-col gap-2 items-center ">
      <div style="width: 90%; height: 1px" class="bg-orange-500"></div>
      <div class="text-3xl font-bold">Fill in the following fields</div>

    </div>

    <div class="info">
      <div class="flex w-full h-full justify-center gap-4">
        <div class="flex flex-col w-full h-full">
          <input type="text" [(ngModel)]="title" placeholder="Title">
          <input type="text" [(ngModel)]="supervisor" placeholder="Supervisor">
          <input type="text" [(ngModel)]="coSupervisor" placeholder="Co-supervisor">
        </div>
        <div class="flex flex-col">
          <input type="text" [(ngModel)]="level" placeholder="Level">
          <input type="text" [(ngModel)]="type" placeholder="Type">
          <input type="text" [(ngModel)]="groups" placeholder="Groups">
        </div>
      </div>
      <input type="text" [(ngModel)]="description" placeholder="Description">
      <input type="text" [(ngModel)]="requiredKnoledge" placeholder="Required-knowledge">
      <input type="text" [(ngModel)]="notes" placeholder="Notes">
      <input type="text" [(ngModel)]="keywords" placeholder="Keywords">
      <select>
        <option value="Cds/programmes" selected>Course type*</option>
      </select>
      <div class="flex w-full h-full items-center gap-4 p-1 justify-center">
        <div class="text-gray-400"> Expiration date</div>
        <input type="date" [(ngModel)]="data" placeholder="Expiration" class="data">
      </div>
    </div>
  </div>

</app-popup>
