<div class="h-full w-full flex gap-2">
  <div class="main-body">
    <div class="button-body card">
      <div class="button-tesi orange" (click)="openCreatePopup()">
          <p class="text-center" style="margin-bottom: 0">Create new thesis </p>
          <app-icon name="add" class="w-4 h-4"></app-icon><!--Should restore this line but it gives problems-->
      </div>
      <div class="separator"></div>
      <div class="w-full flex flex-col gap-6">
        <div class="h-full w-full flex flex-col gap-2">
          <h2 class=""> Show Theses: </h2>
          <button class="dropdownButton " (click)="showActiveThesesTable()"> Active </button>
          <button class="dropdownButton " (click)="showArchivedThesesTable()"> Archived </button>
        </div>
        <div class="show-applicants">
          <h2 class=""> Show applicants: </h2>
          <button class="dropdownButton  items-start" (click)="showApplicantsTable()">All theses</button>
        </div>
      </div>
    </div>
    <div class="show-body card">
      <app-applicants-table class="h-5/6" [rows]="applicantsRow" (triggerUpdate)="updateAll()"  *ngIf="showApplicants" ></app-applicants-table>
      <app-active-thesis-table class="h-5/6" [rows]="activeThesesRow" (triggerUpdate)="updateAll()" *ngIf="showActiveTheses"></app-active-thesis-table>
      <app-archived-thesis-table [rows]="archivedThesesRow" (triggerUpdate)="updateAll()" *ngIf="showArchivedTheses"></app-archived-thesis-table>
      <div class="button-tesi-mobile orange" (click)="openCreatePopup()">
        <p class="text-center" style="margin-bottom: 0">Create new thesis </p>
        <app-icon name="add" class="w-4 h-4"></app-icon><!--Should restore this line but it gives problems-->
      </div>
    </div>
  </div>

</div>

<app-popup
  *ngIf="createPopup"
  (close)="openCreatePopup(); updateAll()"
  [closeClickOutside]="false"
  [showSlider] = "false"
  [showButton] = "false">
  <div *ngIf="!requestAccepted" class="flex flex-col h-full w-full gap-4">
    <div class="p-2 w-full flex flex-col gap-2 items-center ">
      <div style="width: 90%; height: 1px" class="bg-orange-500"></div>
      <div class="text-3xl font-bold">Insert new thesis proposal</div>
    </div>
    <app-create-thesis-form (requestAccepted)="requestAccepted = $event"></app-create-thesis-form>
  </div>

  <div *ngIf="requestAccepted" class="text-green-500 text-xl"> The insertion of the thesis was successful </div>

</app-popup>
