.dropdownButton {
  background-color: #03577A;
  color: white;
  line-height: 16px;
  padding: 8px;
  border-radius: 8px;
  @apply hover:drop-shadow-lg;
}
input, select {
  padding: 5px;
  margin-bottom: 30px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #eee;
}
.data{
  margin-bottom: 0;
}
.info{
  @apply flex flex-col p-3;
}
.button-tesi{
  @apply dropdownButton flex gap-1 items-center justify-around hover:cursor-pointer hover:drop-shadow-lg;
  &.orange {
    @apply bg-orange-500;
  }
  @media only screen and (max-width: 1100px){
    @apply hidden;
  }
}
.button-tesi-mobile {
  @apply dropdownButton flex gap-1 items-center justify-around hover:cursor-pointer hover:drop-shadow-lg text-lg;
  &.orange {
    @apply bg-orange-500;
  }
  bottom: 20px;
  right: 20px;
  width: 120px;
  height: 60px;
  @media only screen and (min-width: 1100px){
    @apply hidden;
  }
}
.main-body{
  @apply w-full flex flex-row gap-4;
  @media only screen and (max-width: 1100px){
    @apply flex flex-col;
  }
}
.button-body{
  @apply w-1/6 flex flex-col gap-4 bg-white;
  @media only screen and (max-width: 1100px){
    @apply w-full flex flex-row;
  }
}
.show-thesis-buttons{
  @apply  h-full w-full flex flex-col gap-2;
}
.show-applicants{
  @apply  h-full w-full flex flex-col gap-2;
}
.show-buttons{
  @apply  w-full flex flex-col gap-6;
  @media only screen and (max-width: 1100px){
    @apply flex flex-row;
  }
}
.show-body{
  @apply  h-full p-5 w-5/6 flex flex-col gap-6;
  @media only screen and (max-width: 1100px){
    @apply w-full h-full;
  }
}
.body-height{
  @media only screen and (max-width: 1100px){
    max-height: calc(100% - 80px);
    @apply w-full h-full;
  }
  max-height: 100%;
}
