@import "../../../../../styles";

.container {
  background-color: $lightgrey;
  padding: 12px 8px;
  margin-bottom: 8px;
  font-size: 14px;
  border-radius: 8px;
  position: relative;

  &:hover {
    background-color: $lightgreyHover;
    cursor: pointer;
  }

  .title {
    font-size: 12px;
    line-height: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 600;
    &.read {
      font-weight: 400;
    }
  }

}
.closeButton {
  position: absolute;
  top: -4px;
  right: -4px;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $danger;
  border-radius: 50%;

  &:hover {
    cursor: pointer;
    background-color: #c04f4f;

  }

  .closeIcon {
    font-size: 12px;
    line-height: 12px;
    width: auto;
    height: auto;
    color: white;
  }
}
