<div class="container">
  <div class="titleContainer">
    <h1 class="text-3xl font-medium mr-4">Your Requests</h1>
    <app-button class="orange singleLine {{requests.length > 0 ? 'disabled' : ''}}" (click)="showInsertPopup=true">New Request</app-button>
  </div>
  <p class="mb-2">In this section you can submit new thesis requests in order to be evaluated by the professors and,
    eventually, accepted as your thesis project. <br>You can edit a request only under specific Supervisor request.</p>
  <div class="card requestsContainer" *ngIf="requests.length > 0">
    <table class="requestsTable" *ngIf="screenWidth>1024">
      <thead>
      <tr>
        <th class="text-left">Thesis Title</th>
        <th class="statusHeader pl-4 pr-4">Secretary Status</th>
        <th class="statusHeader pl-4 pr-4">Professor Status</th>
        <th class="statusHeader pl-2">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr class="request" *ngFor="let request of requests">
        <td class="title" (click)="selectRequest(request)">{{ request.title }}</td>
        <td class="statusContainer">
          <div class="status {{request.secretaryStatus.toLowerCase()}}"><p>{{ request.secretaryStatus }}</p></div>
        </td>
        <td class="statusContainer">
          <div class="status {{request.professorStatus.toLowerCase()}}"><p>{{ request.professorStatus }}</p></div>
        </td>
        <td>
          <div class="actionsContainer">
            <app-button class="{{request.professorStatus === 'Change' ? '' : 'disabled'}}" (click)="editRequest(request)">
              <mat-icon class="icon-16">edit</mat-icon>
            </app-button>
            <app-button class="danger" (click)="selectRequestToDelete(request)">
              <mat-icon class="icon-16">delete</mat-icon>
            </app-button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <table class="requestsTable" *ngIf="screenWidth<=1024">
      <thead>
      <tr>
        <th class="text-left">Thesis Title</th>
      </tr>
      </thead>
      <tbody>
      <tr class="request mobile" *ngFor="let request of requests">
        <td class="text-left">
          <p class="title" (click)="selectRequest(request)">{{ request.title }}</p>
          <div class="flex justify-between items-end">
            <div class="statusContainer mobile">
              <div class="flex items-center gap-2 mt-2 mr-4">
                <p>Secretary:</p>
                <div class="status {{request.secretaryStatus.toLowerCase()}}">
                  <p>{{ request.secretaryStatus }}</p>
                </div>
              </div>
              <div class="flex items-center gap-2 mt-2">
                <p>Professor:</p>
                <div class="status {{request.professorStatus.toLowerCase()}}">
                  <p>{{ request.professorStatus }}</p>
                </div>
              </div>
            </div>
            <div class="actionsContainer mobile mt-2">
              <app-button class="{{request.professorStatus === 'Change' ? '' : 'disabled'}}" (click)="editRequest(request)">
                <mat-icon class="icon-16">edit</mat-icon>
              </app-button>
              <app-button class="danger" (click)="selectRequestToDelete(request)">
                <mat-icon class="icon-16">delete</mat-icon>
              </app-button>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="request" *ngFor="let request of requests">

    </div>
  </div>
  <app-popup
    *ngIf="showInsertPopup"
    [showSlider]="false"
    [title]="'Create new thesis request'"
    [closeClickOutside]="true"
    [showCloseButton]="true"
    (close)="showInsertPopup=false">
    <app-request-form
      (showPopup)="showInsertPopup = $event"
      (showAlert)="showAlert($event)"/>
  </app-popup>
  <app-alert class="success {{showInsertSuccessAlert ? 'show' : ''}}">You correctly submitted your request</app-alert>
  <app-alert class="danger {{showDangerAlert ? 'show' : ''}}">Error: something went wrong, try again later</app-alert>

  <app-popup
    *ngIf="showDeletePopup"
    [showSlider]="false"
    [title]="'Are you sure to delete your thesis request?'"
    [closeClickOutside]="true"
    [showCloseButton]="true"
    (close)="showDeletePopup=false">
    <div class="flex justify-evenly w-full">
      <app-button (click)="showDeletePopup = false">Cancel</app-button>
      <app-button class="danger" (click)="deleteRequest()">Confirm</app-button>
    </div>
  </app-popup>
  <app-alert class="success {{showDeleteSuccessAlert ? 'show' : ''}}">You correctly deleted your request</app-alert>

  <app-popup
    *ngIf="showEditPopup"
    [showSlider]="false"
    [title]="'Edit your thesis request'"
    [closeClickOutside]="true"
    [showCloseButton]="true"
    (close)="showEditPopup=false">
    <app-request-form
      [update]="true"
      [thesisRequestId]="requestToEdit.thesisRequestId"
      [title]="requestToEdit.title"
      [description]="requestToEdit.description"
      [message]="requestToEdit.message"
      [professorId]="requestToEdit.supervisor.professorId"
      [coSupervisor]="requestToEdit.coSupervisors"
      (showPopup)="showEditPopup = $event"
      (showAlert)="showAlert($event)"/>
  </app-popup>
  <app-alert class="success {{showEditSuccessAlert ? 'show' : ''}}">You correctly edited your request</app-alert>
  <app-alert class="danger {{showDangerAlert ? 'show' : ''}}">Error: something went wrong, try again later</app-alert>

</div>
