/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

$lightgrey: #e5e7eb;
$lightgreyHover: #d1d5db;
$poliblue: #04264c;
$polilightblue: #03577A;
$success: #75ce8f;
$danger: #f56565;
$pending: #ffdd48;

$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

$media-desktop: "only screen and (max-width : 1024px)";
$media-tablet: "only screen and (max-width : 768px)";
$media-mobile: "only screen and (max-width : 640px)";
$media-mobile-sm: "only screen and (max-width : 480px)";

.leftMenuItem {
  border-radius: 8px;
  padding: 8px 16px;
  text-align: center;
  margin-bottom: 8px;
  font-size: 16px;
  background-color: $lightgrey;
  cursor: pointer;

  &.selected {
    background-color: $polilightblue;
    * {color: white;}
  }
  &.hovered {
    background-color: $lightgreyHover;
  }
}

.card{
  @apply shadow-sm rounded-md shadow-gray-400 p-4 bg-white;
}
.separator{
  height: 1px;
  width: 100%;
  @apply bg-orange-500;
  @media only screen and (max-width: 1000px) {
    display: none;
  }
}

