<div class="container">
  <h1 class="title">Your Profile</h1>
  <div class="card profileDataContainer">
    <p class="name">{{ user.name }} {{ user.surname }}, {{ userId }}</p>
    <p class="name">Your exams</p>
    <table class="mb-4">
      <caption></caption>
      <thead>
      <tr>
        <th class="text-left">Course</th>
        <th>CFU</th>
        <th>Grade</th>
      </tr>
      </thead>
      <tbody class="tableBody">
      <tr class="tableRow" *ngFor="let exam of career.exams">
        <td class="text-left">{{ exam.titleCourse }}</td>
        <td class="text-center">{{ exam.cfu }}</td>
        <td class="text-center">{{ exam.grade }}</td>
      </tr>
      </tbody>
    </table>
    <table class="cvTable">
      <caption></caption>
      <tr>
        <th><p class="mr-4 font-medium">Upload your CV (PDF document)</p></th>
        <th>
          <app-button>
            <label for="upload-file" class="cursor-pointer">Upload</label>
            <input class="hidden" type="file" id="upload-file" name="upload-file" accept=".pdf"
                   (input)="loadFile($event)">
          </app-button>
        </th>
      </tr>
      <tr *ngIf="cv.name !== ''">
        <td><p class="mr-4 font-medium hover:underline cursor-pointer" (click)="getCv()">Your CV: <span class="font-normal">{{ cv.name }}</span></p></td>
        <td><app-button class="danger" (click)="showPopup=true">Delete</app-button></td>
      </tr>
    </table>
    <app-popup
      [showSlider]="false"
      [showLogo]="false"
      [small]="true"
      [title]="'Do you really want to delete your cv?'"
      *ngIf="showPopup">
      <div class="flex justify-evenly w-full">
        <app-button (click)="showPopup = false">Cancel</app-button>
        <app-button class="danger" (click)="deleteCv()">Confirm</app-button>
      </div>
    </app-popup>
  </div>
</div>
