@import '../../../../../styles';

.dropdownContent {
  font-size: 12px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  text-transform: capitalize;
  width: max-content;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
  text-align: right;
  &.request {
    max-height: 180px;
    overflow-y: auto;
  }
}

