@import '../../../../../../styles';

.container {
  display: flex;
  flex-direction: column;
  max-height: calc(87.5vh - 32px);
  max-width: 100%;
}

.proposalsContainer {
  @apply flex-col items-center mb-4 gap-4 max-md:flex-col max-md:items-start;
  .searchToolsContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;

    .searchbar {
      width: 40%;
      @media (max-width: 768px) {
        width: 100%;
      }
      @media (max-width: 1024px) {
        width: 80%;
      }
      height: fit-content;
      border-radius: 25px;
      border: 2px solid $lightgrey;
      padding: 6px;
      outline: none;

      input {
        border: none;
        outline: none;
        width: 90%;
        margin-left: 10px;
        background-color: transparent;
      }
    }

    .dropdownContainer {
      position: relative;
      height: 100%;
      width: fit-content;
    }

    .closeIcon {
      width: 16px;
      height: 20px;
      font-size: 16px;
      line-height: 20px;
    }

    .deleteFilters {
      font-size: 12px;
      display: flex;
      cursor: pointer;
    }
  }
}

.itemsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4px;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  .checkbox {
    width: 12px;
    height: 12px;
    margin-right: 16px;
    border: 1px solid $poliblue;

    &.checked {
      background-color: $poliblue;
    }
  }
}

.proposalsCard {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

.projectLine {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid $lightgrey;
  margin-bottom: 16px;

  .projectTitle {
    max-width: 80%;
    margin-right: 16px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .profName {
    color: cornflowerblue;
    text-transform: uppercase;
    font-size: 12px;
    max-width: 20%;
    text-align: right;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
