@import "../../../styles";

.h-1\/8 {
    height: 12.5%;
}
.h-7\/8 {
    height: 87.5%;
}

.propic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: contain;
}

.deleteFilters {
  font-size: 12px;
  display: flex;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  max-height: calc(87.5vh - 32px);
  max-width: 100%;
}

.proposalsContainer {
  @apply flex-col items-center mb-4 gap-4 max-md:flex-col max-md:items-start;
  .searchToolsContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    .searchbar {
      width: 40%;
      @media (max-width: 768px) {
        width: 100%;
      }
      @media (max-width: 1024px) {
        width: 80%;
      }
      height: fit-content;
      border-radius: 25px;
      border: 2px solid $lightgrey;
      padding: 6px;
      outline: none;
      input {
        border: none;
        outline: none;
        width: 90%;
        margin-left: 10px;
        background-color: transparent;
      }
    }
    .dropdownContainer {
      position: relative;
      height: 100%;
      width: fit-content;
    }
  }
}
.itemsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4px;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
  .checkbox {
    width: 12px;
    height: 12px;
    margin-right: 16px;
    border: 1px solid $poliblue;
    &.checked {
      background-color: $poliblue;
    }
  }
}

.proposalsCard {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}


.projectLine {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid $lightgrey;
  margin-bottom: 16px;
  .projectTitle {
    max-width: 80%;
    margin-right: 16px;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  .profName {
    color: cornflowerblue;
    text-transform: uppercase;
    font-size: 12px;
    max-width: 20%;
    text-align: right;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

.projectHeader,.projectBody {
  margin-bottom: 16px;
  .projectTitle {
    font-weight: bold;
    font-size: 24px ;
    line-height: 28px;
    margin-bottom: 8px;
  }
  .regularText {
    font-weight: normal;
    font-size: 14px;
  }
}

.projectFooter{
  font-size: 12px;
  margin-bottom: 16px;
  .regularText {
    font-weight: normal;
    font-size: 12px;
    margin-bottom: 16px;
  }
}

.projectButtons {
  display: flex;
  gap: 8px;
}


.searchButton {
  width: 20px;
  height: 20px;
  font-size: 20px;
}

.popupContent {
  .textArea{
    @apply w-full h-32 bg-gray-50 border-2 border-gray-300 rounded-md p-2;
    font-size: 12px;
    line-height: 14px;
  }
}
