<app-page-skeleton>
  <div class="leftMenuItem" left-col
      [class.selected]="n.selected"
      [class.hovered]="n.hover && !n.selected"
      (mouseenter)="n.hover=true"
      (mouseleave)="n.hover=false"
      (click)="selectMenuItem(n.id)"
      *ngFor="let n of menuItems">
    <p>Lorem Ipsum</p>
  </div>

  <div *ngIf="selectedProject===null" main-col>
    <div class="flex items-center mb-8 gap-4 max-md:flex-col max-md:items-start">
      <div class="searchToolsContainer">
        <div class="searchbar">
          <input id="search-input" type="text" placeholder="Search..." [ngModel]="searchValue" (ngModelChange)="updateSearchValue($event)"/>
        </div>
        <div class="dropdownContainer" (mouseenter)="professorsHover = true" (mouseleave)="professorsHover=false">
          <button type="button" class="dropdownButton">Professor</button>
          <div class="dropdownContent" *ngIf="professorsHover">
            <div class="border-b-2 mb-2 flex justify-between">
              <input id="professorsSearch-input" class="outline-0 w-24" type="text" placeholder="Search..." [ngModel]="professorsSearchValue" (ngModelChange)="updateProfessorsSearchValue($event)"/>
              <img class="cursor-pointer" alt="delete" style="color: red" src="assets/images/close_grey.svg" width="12" height="12" (click)="updateProfessorsSearchValue('')"/>
            </div>
            <div *ngFor="let name of professorNames" (click)="toggleName(name)">
              <div class="keywordContainer" *ngIf="name.toLocaleLowerCase().includes(professorsSearchValue)">
                <div class="checkbox" [ngClass]="selectedNames.has(name) ? 'checked' : ''"></div>
                <p class="dropdownKeyword" >{{name}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="deleteFilters" (click)="deleteFilters()" *ngIf="selectedNames.size !== 0 || selectedKeywords.size !== 0">
        <img alt="close" src="assets/images/close_blue.svg" width="16" height="16">
        <p class="underline">Delete filters</p>
      </div>
      </div>
      <div >
        <div *ngFor="let project of projectsToShow" (click)="selectProject(project)">
          <div class="projectLine">
            <p class="projectTitle">{{project.title}}</p>
            <p class="profName">{{project.name}}</p>
          </div>
        </div>
      </div>
    {{setToString(selectedKeywords)}}
    </div>

     <div *ngIf="selectedProject!==null" main-col>
       <div class="projectDetails">
         <div class="projectHeader">
           <h2 class="projectTitle">{{selectedProject.title}}</h2>
           <h3>Professor: <span class="profName">{{selectedProject.name}}</span></h3>
         </div>
         <div class="projectDescription">
  <!--             <p>{{selectedProject.description}}</p>-->
           <p>Nunc sed turpis. Sed in libero ut nibh placerat accumsan. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce pharetra convallis urna. Phasellus accumsan cursus velit. Ut id nisl quis enim dignissim sagittis. Nam at tortor in tellus interdum sagittis. Suspendisse feugiat. Quisque rutrum. Sed libero. Morbi mattis ullamcorper velit. Aenean ut eros et nisl sagittis vestibulum. Curabitur suscipit suscipit tellus. Nullam cursus lacinia erat. Nam adipiscing.</p>
         </div>
         <div class="projectButtons">
           <app-button (click)="selectProject(null)">Indietro</app-button>
           <app-button (click)="showAlert('success')">Candidati</app-button>
         </div>
       </div>
       <app-alert class="success {{showSuccessAlert ? 'show' : ''}}">
         <p>You candidated succesfully</p>
       </app-alert>
       <app-alert class="danger {{showDangerAlert ? 'show' : ''}}">
         <p>Something went wrong</p>
       </app-alert>
     </div>

</app-page-skeleton>
