<app-page-skeleton
  [trigger] = "trigger"
  (profilePage) = "goToProfilePage($event)"
  [unreadCounter]="unreadCounter"
  [notificationsOpen]="notificationsOpen"
  (notificationsOpenChange)="notificationsOpen = $event"
  (newProposals)="proposals = $event"
  (newApplications)="newApplications = $event"
  >

  <div class="leftMenuItem" left-col
       [class.selected]="n.selected"
       [class.hovered]="n.hovered && !n.selected"
       (mouseenter)="n.hovered=true"
       (mouseleave)="n.hovered=false"
       (click)="selectMenuItem(n.id); n.id == 1 ? selectedProposal=null : null; closeMenu(); profilePage = false;"
       *ngFor="let n of menuItems">
    <p>{{n.text}}</p>
  </div>

  <app-proposals
    [proposals]="proposals"
    (selectedProposal)="selectedProposal = $event"
    (canApply)="canApply = $event"
    *ngIf="selectedProposal===null && menuItems[0].selected &&!profilePage"
    main-col/>

  <app-proposal-details
    [selectedProposal]="selectedProposal"
    [canApply]="canApply"
    (selectedProposalUpdate)="selectedProposal = $event"
    *ngIf="selectedProposal!==null && menuItems[0].selected &&!profilePage"
    main-col/>

  <app-application-view
    [applications]="newApplications"
    *ngIf="menuItems[1].selected && !profilePage"
    main-col/>

  <app-requests
    *ngIf="menuItems[2].selected && !profilePage"
    main-col/>

  <app-profile-page
    *ngIf="profilePage"
    main-col/>

  <app-notifications-container
    (applicationsPage) = "goToApplicationPage($event)"
    (counterChange)="unreadCounter = $event" right-col
    (close)="closeNotifications($event)"/>

</app-page-skeleton>
