<app-page-skeleton
  [trigger]="trigger"
  (profilePage)="goToProfilePage($event)"
  [unreadCounter]="unreadCounter"
  [notificationsOpen]="notificationsOpen"
  (notificationsOpenChange)="notificationsOpen = $event"
  (newProposals)="proposals = $event"
  (newApplications)="newApplications = $event"
>

  <div class="leftMenuItem" left-col
       [class.selected]="n.selected"
       [class.hovered]="n.hovered && !n.selected"
       (mouseenter)="n.hovered=true"
       (mouseleave)="n.hovered=false"
       (click)="selectMenuItem(n.id)"
       *ngFor="let n of menuItems">
    <p>{{ n.text }}</p>
  </div>


  <app-proposals-view
    [proposals]="proposals"
    (selectedProposal)="selectedProposal = $event"
    (canApply)="canApply = $event"
    *ngIf="selectedProposal===null && menuItems[0].selected &&!profilePage"
    main-col/>

  <app-proposal-details
    [type]="'proposal'"
    [selectedProposal]="selectedProposal"
    [canApply]="canApply"
    (selectedProposalUpdate)="selectedProposal = $event"
    *ngIf="selectedProposal!==null && menuItems[0].selected &&!profilePage"
    main-col/>

  <app-applications-view
    [applications]="newApplications"
    (selectedApplicationDetails)="selectedApplication = $event"
    *ngIf="selectedApplication === null && menuItems[1].selected && !profilePage"
    main-col/>

  <app-application-details
    [selectedApplication]="selectedApplication"
    (selectedApplicationUpdate)="selectedApplication = $event"
    *ngIf="selectedApplication !== null && menuItems[1].selected && !profilePage"
    main-col/>

  <app-requests
    (selectedRequest)="selectedRequest = $event"
    *ngIf="selectedRequest === null && menuItems[2].selected && !profilePage"
    main-col/>

  <app-request-details
    [selectedRequest]="selectedRequest"
    (selectedRequestUpdate)="selectedRequest = $event"
    *ngIf="selectedRequest !== null && menuItems[2].selected && !profilePage"
    main-col/>

  <app-profile-page
    *ngIf="profilePage"
    main-col/>

  <app-notifications-container
    (applicationsPage)="goToApplicationPage($event)"
    (counterChange)="unreadCounter = $event" right-col
    (close)="closeNotifications($event)"/>

</app-page-skeleton>
