<div class="columns-2 min-h-screen flex bg-gray-50">
  <div class="w-1/6 p-4 border-r-2">
    <img src="../../../assets/images/LogoPoli.svg" alt="no image found">
  </div>
  <div class="w-5/6 flex flex-col">
    <div class="title p-4 flex items-center justify-between border-b-2 border-orange-500">
      <h2 class="uppercase text-3xl font-bold">thesis proposals</h2>
      <div class="flex items-center">
        <img alt="propic" src="https://picsum.photos/512/512" class="propic mr-4">
        <p class="text-sm uppercase">first last, p123456</p>
      </div>
    </div>
    <div class="main columns-2 flex">
      <div class="w-4/5 p-4">
        <form class="login-container">
          <h2>Login</h2>
          <input name="email" type="text" placeholder="Email" [ngModel]="email" (ngModelChange)="updateEmail($event)">
          <input name="password" type="password" placeholder="Password" [ngModel]="password" (ngModelChange)="updatePassword($event)">
          <app-button class="orange" (click)="login()">Login</app-button>
        </form>
      </div>
      <div class="w-1/5 border-l-2"></div>
    </div>
  </div>
</div>
