@import "../../../styles.scss";
.login-container {
  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 8px;
  }
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  input {
    background-color: transparent;
    outline: none;
    border-bottom: 2px solid $lightgrey;
    margin-bottom: 16px;

    &:focus {
      @apply border-orange-600;
    }
  }
}
