@import '../../../../../../styles';

.container {
  display: flex;
  flex-direction: column;
  max-height: calc(87.5vh - 32px);
}

.applicationsContainer {
  overflow: auto;
  padding: 16px;

  .applicationsTable {
    width: 100%;
  }

  .application {
    border-bottom: 1px solid $lightgrey;
    cursor: pointer;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      .title {
        text-decoration: underline;
      }
    }

    td {
      vertical-align: middle;


      &.title {
        margin-right: 32px;
        padding: 8px 8px 8px 0;
      }

      &.statusContainer {
        padding: 8px 0 8px 8px;

        .status {
          margin: auto;
          padding: 8px;
          border-radius: 200px;
          line-height: normal;
          height: fit-content;
          color: white;
          width: fit-content;

          &.pending {
            background: $pending;
            color: #545454;
          }

          &.accepted {
            background: $success;
          }

          &.rejected {
            background: $danger;
          }

          &.cancelled {
            background: $lightgrey;
            color: #545454;
          }
        }
      }

      &.requestButton {
        padding: 8px 0 8px 16px;
      }
    }

  }
}

.applicationDetailsContainer {

}
