<app-proposal-details
  [type]="'secretary'"
  [selectedProposal]="selectedRequest"
  (secretaryShowPopup)="showPopup($event)"
  (selectedProposalUpdate)="selectedRequestUpdate.emit($event)"/>

<app-popup
    *ngIf="showAcceptPopup"
    [showSlider]="false"
    [title]="'Do you want to approve this thesis request?'"
    [closeClickOutside]="true"
    [showCloseButton]="true"
    [small]="true"
    (close)="showAcceptPopup=false">
    <div class="flex justify-evenly w-full">
      <app-button (click)="showAcceptPopup = false">Cancel</app-button>
      <app-button class="danger" (click)="approveRequest()">Confirm</app-button>
    </div>
  </app-popup>
  <app-alert class="success {{showApproveSuccessAlert ? 'show' : ''}}">You correctly approve this request</app-alert>

<app-popup
    *ngIf="showRejectPopup"
    [showSlider]="false"
    [title]="'Do you want to reject this thesis request?'"
    [closeClickOutside]="true"
    [showCloseButton]="true"
    [small]="true"
    (close)="showRejectPopup=false">
    <div class="flex justify-evenly w-full">
      <app-button (click)="showRejectPopup = false">Cancel</app-button>
      <app-button class="danger" (click)="rejectRequest()">Confirm</app-button>
    </div>
  </app-popup>
  <app-alert class="success {{showRejectSuccessAlert ? 'show' : ''}}">You correctly rejected this request</app-alert>
