@import "../../../../../../styles";

.checkbox {
  width: 12px;
  height: 12px;
  margin-right: 16px;
  border: 1px solid $poliblue;

  &.checked {
    background-color: $poliblue;
  }
  &.radio {
    border-radius: 50%;
  }
}
