<app-page-skeleton>
  <div class="leftMenuItem" left-col
       [class.selected]="n.selected"
       [class.hovered]="n.hovered && !n.selected"
       (mouseenter)="n.hovered=true"
       (mouseleave)="n.hovered=false"
       (click)="selectMenuItem(n.id)"
       *ngFor="let n of menuItems">
    <p>{{ n.text }}</p>
  </div>

  <app-secretary-requests-view
    [selectedRequest]="selectedRequest"
    (selectedRequestUpdate)="selectedRequest = $event"
    *ngIf="selectedRequest === null" main-col/>

  <app-secretary-request-details
    [selectedRequest]="selectedRequest"
    (selectedRequestUpdate)="selectedRequest = $event"
    *ngIf="selectedRequest !== null" main-col/>

</app-page-skeleton>
