<app-page-skeleton>
   <div class="leftMenuItem" left-col
       [class.selected]="n.selected"
       [class.hovered]="n.hovered && !n.selected"
       (mouseenter)="n.hovered=true"
       (mouseleave)="n.hovered=false"
       (click)="selectMenuItem(n.id)"
       *ngFor="let n of menuItems">
    <p>{{n.text}}</p>
  </div>

  <div class="container" main-col>
    <h1 class="text-3xl font-medium mb-2">Students Thesis Requests</h1>
    <div class="card requestsContainer" *ngIf="requests">

    </div>
  </div>
</app-page-skeleton>
