<div class=" card p-5 flex flex-col w-full gap-6">
  <h1 class="text-3xl flex justify-center"> List of Thesis Applicants</h1>
  <div class="separator"></div>

  <table  *ngIf="rows!=''" class="bo-table w-full h-fit overflow-auto">
  <tbody >
  <tr class="thead">
    <th>Student ID</th>
    <th>Thesis Title</th>
    <th>Expiration Date</th>
    <th class="flex justify-between">
      <div></div>
      Status
      <app-icon name="filter" class="h-4 w-4 text-gray-400 hover:cursor-pointer hover:text-gray-700" (click)="resetFilter()" ></app-icon>
    </th>
  </tr>
  <tr *ngIf="openFilter">
    <td>
      <div class="input-div">
        <input class="input-date" id="student-input" type="text" placeholder="Type to filter..." [(ngModel)]="studentFilter" (input)="applyFilters()"/>
      </div>
    </td>
    <td>
      <div class="input-div">
        <input class="input-date" id="title-input" type="text" placeholder="Type to filter..." [(ngModel)]="titleFilter" (input)="applyFilters()"/>
      </div>
    </td>
    <td>
      <div class="input-div">
        <input class="input-date" id="date-input" type="date" [(ngModel)]="dateFilter" (input)="applyFilters()"/>
      </div>
    </td>
    <td>
      <div class="input-div">
        <select class="input-filter hover:cursor-pointer" id="status-input" [(ngModel)]="statusFilter" (change)="applyFilters()">
          <option value =''  disabled hidden selected >Select a status</option>
          <option value =''>None</option>
          <option value="Pending">Pending</option>
          <option value="Accepted">Accepted</option>
          <option value="Rejected">Rejected</option>
        </select>
      </div>
    </td>
  </tr>
  <tr *ngFor="let row of filteredRows">
    <td class="py-0.5 w-24 h-6 text-sm text-gray-600">{{row?.studentId}}</td>
    <td class="py-0.5 w-24 h-6 text-sm text-gray-600">{{row?.thesisProposalTitle}}</td>
    <td class="py-0.5 w-24 h-6 text-sm text-gray-600">{{row?.date}}</td>
    <td *ngIf="row?.status =='Pending'" class="py-0.5 w-12 h-6">
      <button  class="dropdownButton" (click)="openAcceptPopup(); applicant = row" >Accept</button>
    </td>
    <td *ngIf="row?.status =='Pending'" class="py-0.5 w-12 h-6">
      <button class="dropdownButton red" (click)="openRejectPopup(); applicant = row">Reject</button>
    </td>
    <td *ngIf="row?.status !='Pending'" [class.text-green-400] = "row?.status=='Accepted'" [class.text-red-400] = "row?.status=='Rejected'" class="py-0.5 w-12 h-6 text-sm">
      {{row?.status=='Accepted'?'accepted':row?.status=='Rejected'?'rejected':''}}
    </td>
  </tr>
  </tbody>
  </table>
  <h3 *ngIf="rows==''"> No Applicants Avaiable</h3>
</div>

<app-popup
  *ngIf="rejectPopup"
  (close)="openRejectPopup(); this.triggerUpdate.emit();"
  [closeClickOutside]="false"
  [showSlider] = "false"
  [showButton] = "true"
  [response] = response
  (send)="rejectApplication()">
  <div *ngIf="!requestAccepted" class="flex flex-col h-full w-full gap-4">
    <div class="p-2 w-full flex flex-col gap-2 items-center ">
      <div style="width: 90%; height: 1px" class="bg-orange-500"></div>
      <div class=" font-bold">Are you sure to reject the application?</div>
    </div>
  </div>

  <div *ngIf="requestAccepted" class="text-red-500 text-xl"> The application has been rejected </div>

</app-popup>

<app-popup
  *ngIf="acceptPopup"
  (close)="openAcceptPopup() ; this.triggerUpdate.emit();"
  [closeClickOutside]="false"
  [showSlider] = "false"
  [showButton] = "true"
  [response] = response
  (send)="acceptApplication()">
  <div *ngIf="!requestAccepted" class="flex flex-col h-full w-full gap-4">
    <div class="p-2 w-full flex flex-col gap-2 items-center ">
      <div style="width: 90%; height: 1px" class="bg-orange-500"></div>
      <div class="font-bold">Are you sure to accept the application?</div>
    </div>
  </div>

  <div *ngIf="requestAccepted" class="text-green-500 text-xl"> The application has been accepted </div>

</app-popup>

