/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
.leftMenuItem {
  border-radius: 8px;
  padding: 8px 16px;
  text-align: center;
  margin-bottom: 8px;
  font-size: 16px;
  background-color: #e5e7eb;
  cursor: pointer;
}
.leftMenuItem.selected {
  background-color: #03577A;
}
.leftMenuItem.selected * {
  color: white;
}
.leftMenuItem.hovered {
  background-color: #d1d5db;
}

.card {
  @apply shadow-sm rounded-md shadow-gray-400 p-4 bg-white;
}

.separator {
  height: 1px;
  width: 100%;
  @apply bg-orange-500;
}
@media only screen and (max-width: 1000px) {
  .separator {
    display: none;
  }
}

.icon-16 {
  font-size: 16px;
  line-height: 16px;
  width: 16px;
  height: 16px;
}

.icon-20 {
  font-size: 20px;
  line-height: 20px;
  width: 20px;
  height: 20px;
}

.container {
  max-width: none !important;
}

.bo-table, .bo-table-compact {
  @apply divide-y divide-gray-200 p-4 bg-white;
}
.bo-table thead th, .bo-table-compact thead th {
  @apply py-2 px-1 text-center text-sm font-medium tracking-wider;
}
.bo-table tbody, .bo-table-compact tbody {
  @apply bg-white text-xs divide-y divide-gray-200;
}
.bo-table tbody tr, .bo-table-compact tbody tr {
  @apply hover:bg-gray-100;
}
.bo-table td, .bo-table-compact td {
  @apply py-2 px-1 mx-1 text-center;
}
.bo-table.bo-striped tbody tr:nth-child(even), .bo-striped.bo-table-compact tbody tr:nth-child(even) {
  @apply bg-gray-50 hover:bg-gray-100;
}
.bo-table .dropdownButton, .bo-table-compact .dropdownButton {
  background-color: #03577A;
  color: white;
  line-height: 16px;
  padding: 8px;
  border-radius: 8px;
  @apply hover:drop-shadow-lg;
}
@media only screen and (max-width: 1330px) {
  .bo-table .dropdownButton.left, .bo-table-compact .dropdownButton.left {
    @apply mb-2;
  }
}
@media only screen and (min-width: 1330px) {
  .bo-table .dropdownButton.left, .bo-table-compact .dropdownButton.left {
    @apply mr-2;
  }
}
@media only screen and (max-width: 1330px) {
  .bo-table .dropdownButton.right, .bo-table-compact .dropdownButton.right {
    @apply mt-2;
  }
}
@media only screen and (min-width: 1330px) {
  .bo-table .dropdownButton.right, .bo-table-compact .dropdownButton.right {
    @apply ml-2;
  }
}
.bo-table .dropdownButton.red, .bo-table-compact .dropdownButton.red {
  @apply bg-red-500;
}

.bo-table-compact thead th {
  @apply py-1 px-0 text-xs;
}
.bo-table-compact tbody td {
  @apply py-1 px-0 text-xs;
}

ul.dropdown {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

/* Style each datalist option */
ul.dropdown li {
  padding: 10px;
  cursor: pointer;
}

/* Style the hover effect on datalist options */
ul.dropdown li:hover {
  background-color: #f0f0f0;
}

.input-div {
  @apply w-full flex justify-center;
  border-radius: 25px;
  outline: none;
}

.input-filter {
  border: none;
  outline: none;
  width: 90%;
  background-color: transparent;
}

.input-date {
  @apply w-1/2 text-center;
  border: none;
  outline: none;
  background-color: transparent;
}

/*# sourceMappingURL=applicants-table.component.css.map */
