<div class=" card p-5 flex flex-col w-full gap-6 items-center ">
  <h1 class="text-3xl flex justify-center"> List of Thesis Applicants</h1>
  <div class="separator"></div>
  <table class="bo-table w-full h-fit overflow-auto">
  <tbody >
  <tr class="thead">
    <th>Name</th>
    <th>Serial Number</th>
    <th>Thesis Title</th>
  </tr>
  <tr *ngFor="let row of rows">
    <td class="py-0.5 w-24 h-6 text-sm text-gray-600">{{row.nome}}</td>
    <td class="py-0.5 w-24 h-6 text-sm text-gray-600">{{row.matricola}}</td>
    <td class="py-0.5 w-24 h-6 text-sm text-gray-600">{{row.titoloTesi}}</td>
  </tr>
  </tbody>
  </table>
</div>
