@import '../../../../../styles';

.filtersContainer {
  width: 100%;
  margin-top: 8px;
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  overflow: hidden;

  &.ng-trigger-open {
    overflow: visible;
  }

  .closeIcon {
    font-size: 20px;
    line-height: 20px;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.itemsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4px;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  .checkbox {
    width: 12px;
    height: 12px;
    margin-right: 16px;
    border: 1px solid $poliblue;

    &.checked {
      background-color: $poliblue;
    }
  }
}


