<div class="container">
  <div class="proposalsCard card">
    <div class="projectHeader">
      <h2 class="projectTitle">{{ selectedProposal?.title }}</h2>
      <p class="font-bold">Requester: <span
        class="regularText">{{ selectedProposal?.requester.name }} {{ selectedProposal?.requester.surname }}, {{ selectedProposal?.requester.studentId }}</span>
      </p>
      <p class="font-bold">Supervisor: <span
        class="regularText">{{ selectedProposal?.supervisor.name }} {{ selectedProposal?.supervisor.surname }}</span>
      </p>
      <p class="font-bold" *ngIf="selectedProposal?.coSupervisor.length > 0">Cosupervisors: <span class="regularText"
                                                                                                  *ngFor="let cs of selectedProposal?.coSupervisor; let last = last">{{ cs.name }} {{ cs.surname }}{{ last ? '' : ', ' }}</span>
      </p>
    </div>
    <div class="projectBody" *ngIf="selectedProposal?.description">
      <p class="font-bold">Description</p>
      <div class="regularText">
        <p>{{ selectedProposal?.description }}</p>
      </div>
    </div>
    <div class="projectBody" *ngIf="selectedProposal?.requirements">
      <p class="font-bold">Requirements</p>
      <div class="regularText">
        <p>{{ selectedProposal?.requirements }}</p>
      </div>
    </div>
    <div class="projectBody" *ngIf="selectedProposal?.notes">
      <p class="font-bold">Notes</p>
      <div class="regularText">
        <p>{{ selectedProposal?.notes }}</p>
      </div>
    </div>
    <div class="projectFooter">
      <p class="font-bold" *ngIf="selectedProposal?.thesisType">Type: <span
        class="regularText">{{ selectedProposal?.thesisType }}</span></p>
      <p class="font-bold" *ngIf="selectedProposal?.abroad">Abroad: <span
        class="regularText">{{ selectedProposal?.abroad ? 'Yes' : 'No' }}</span></p>
      <p class="font-bold" *ngIf="selectedProposal?.groups && selectedProposal?.groups.length > 0">Groups: <span
        class="regularText"
        *ngFor="let g of selectedProposal?.groups; let last = last">{{ g }}{{ last ? '' : ', ' }}</span>
      </p>
      <p class="font-bold" *ngIf="selectedProposal?.CdS">Study Courses: <span class="regularText"
                                                                              *ngFor="let cs of selectedProposal?.CdS; let last = last">{{ cs.titleDegree }}
        ({{ cs.degreeId }}){{ last ? '' : ', ' }}</span></p>
      <p class="font-bold" *ngIf="selectedProposal?.expirationDate">Expiration date: <span
        class="regularText">{{ date(selectedProposal?.expirationDate) }}</span></p>
      <p class="font-bold" *ngIf="type==='request' || type==='secretary' && selectedProposal?.date">Submission date: <span
        class="regularText">{{ date(selectedProposal?.date) }}</span></p>
      <p class="font-bold" *ngIf="type==='request' || type==='secretary' && selectedProposal?.approvalDate">Approval date: <span
        class="regularText">{{ date(selectedProposal?.approvalDate) }}</span></p>
    </div>
    <div class="projectInfo">
      <div class="projectButtons">
        <app-button class="grey" (click)="selectProposal(-1)">Back</app-button>
        <app-button *ngIf="type==='proposal'" (click)="togglePopup()" [ngClass]="!canApply ? 'disabled' : ''">Apply
        </app-button>
      </div>
      <div class="projectStatus" *ngIf="type==='application'">
        <p>Status: </p>
        <div class="statusContainer">
          <p class="status {{professorStatus?.toLowerCase()}}">{{ professorStatus }}</p>
        </div>
      </div>
      <div class="projectStatus" *ngIf="type==='request'">
        <div class="flex items-center gap-2">
          <p>Supervisor status: </p>
          <div class="statusContainer">
            <p class="status {{professorStatus?.toLowerCase()}}">{{ professorStatus }}</p>
          </div>
        </div>
        <div class="flex items-center gap-2">
          <p>Secretary status: </p>
          <div class="statusContainer">
            <p class="status {{secretaryStatus?.toLowerCase()}}">{{ secretaryStatus }}</p>
          </div>
        </div>
      </div>
      <div class="secretaryButtons" *ngIf="type==='secretary'">
        <app-button class="{{selectedProposal?.secretaryStatus === 'Pending' ? '' : 'disabled'}} danger" (click)="showPopup('reject')">Reject Request</app-button>
        <app-button class="{{selectedProposal?.secretaryStatus === 'Pending' ? '' : 'disabled'}} " (click)="showPopup('approve')">Approve Request</app-button>
      </div>
    </div>
    <app-popup
      *ngIf="popupVisible"
      [showSlider]="false"
      (close)="togglePopup()"
      [closeClickOutside]="false"
      [showCloseButton]="false"
      [title]="'Apply'"
      [showLogo]="false"
    >
      <div class="popupContent">
        <p class="font-bold">Name: <span class="font-normal">{{ userDetails?.name }} {{ userDetails?.surname }}</span>
        </p>
        <p class="font-bold">Student ID: <span class="font-normal">{{ userDetails?.studentId }}</span></p>
        <p class="font-bold mb-2">Insert an application message (optional)</p>
        <textarea class="textArea" rows="4" [(ngModel)]="applicationMessage" maxlength="1000"></textarea>
        <div class="flex align-center justify-between mt-1">
          <app-button type="file" (input)="selectFile($event)">
            <div class="textOverflow">
              <label for="upload-file"
                     class="cursor-pointer">{{ applicationFile ? applicationFile.name : 'Load File' }}</label>
              <input class="hidden" type="file" id="upload-file" name="upload-file" accept=".pdf"
                     (input)="selectFile($event)">
            </div>
          </app-button>
          <div class="flex justify-end">
            <app-button class="grey mr-2" (click)="togglePopup(); applicationMessage=''">Back</app-button>
            <app-button class="orange" (click)="apply()">Apply</app-button>
          </div>
        </div>
      </div>
    </app-popup>
    <app-alert class="success {{showSuccessAlert ? 'show' : ''}}">
      <p>Application Submitted Succesfully!</p>
    </app-alert>
    <app-alert class="danger {{showErrorAlert ? 'show' : ''}}">
      <p>Error: Something went wrong</p>
    </app-alert>
  </div>
</div>
