
<form class="flex flex-col gap-4" [formGroup]="myForm" (ngSubmit)="onSubmit()" xmlns="http://www.w3.org/1999/html">

  <div class="grid gap-6 lg:grid-cols-2 w-full">
    <div class="">
      <label for="title" class="label-field">Title *</label>
      <input type="text" id="title" formControlName="title" class="input-field" placeholder="Title" required>
      <div *ngIf="myForm.get('title')?.hasError('required') && myForm.get('title')?.touched"
           class="text-danger text-sm mt-1">Title is required</div>
    </div>

    <div class="">
      <label for="supervisor" class="label-field">Supervisor</label>
      <input type="text" id="supervisor" [value]= "professor.name+' '+professor.surname" class="input-field" placeholder="Supervisor" required readonly>
    </div>
    <div class="">
      <label for="thesisType" class="label-field">Type *</label>
      <input type="text" id="thesisType" formControlName="thesisType" class="input-field" placeholder="Type" required>
      <div *ngIf="myForm.get('thesisType')?.hasError('required') && myForm.get('thesisType')?.touched"
           class="text-danger text-sm mt-1">Type is required</div>
    </div>
    <div class="">
      <label for="externalCoSupervisor" class="label-field">External Co-supervisor</label>
      <select id="externalCoSupervisor" formControlName="externalCoSupervisor" class="input-field" (change)="onSelectCoSupervisorChange($event)" (focus)="onSelectFocus()" (blur)="onSelectBlur()" >
        <option value ='' disabled selected hidden>Select a co-supervisor</option>
        <option *ngFor="let coSupervisor of externalCoSupervisors" value="{{coSupervisor.externalCoSupervisorId}}">{{coSupervisor.name}} {{coSupervisor.surname}}</option>
      </select>
      <div *ngFor="let selectedCS of selectedCoSupervisors" class=" items-center flex gap-2 text-gray-700 hover:text-red-600 hover:cursor-pointer text-sm mt-1" (click)="removeCoSupervisor($event)" >{{selectedCS.name}} {{selectedCS.surname}}</div>
    </div>
    <div class="">
      <label for="abroad" class="label-field">Abroad</label>
      <input type="checkbox" id="abroad" formControlName="abroad" placeholder="Abroad" readonly >
    </div>
    <div class="">
      <label for="internalCoSupervisor" class="label-field">Internal Co-supervisor</label>
      <select id="internalCoSupervisor" formControlName="internalCoSupervisor" class="input-field" (change)="onSelectProfessorChange($event)" (focus)="onSelectFocus()" (blur)="onSelectBlur()" >
        <option value ='' disabled selected hidden>Select a co-supervisor</option>
        <option *ngFor="let coSupervisor of professors" value="{{coSupervisor.professorId}}">{{coSupervisor.name}} {{coSupervisor.surname}}</option>
      </select>
      <div *ngFor="let selectedCS of selectedProfessors" class=" items-center flex gap-2 text-gray-700 hover:text-red-600 hover:cursor-pointer text-sm mt-1" (click)="removeProfessor($event)" >{{selectedCS.name}} {{selectedCS.surname}}</div>
    </div>
  </div>

  <div class="flex flex-col gap-6">
    <div class="">
      <label for="groups" class="label-field">Groups</label>
      <input type="text" id="groups" formControlName="groups" class="input-field" placeholder="Groups" readonly >
    </div>
    <div class="">
      <label for="level" class="label-field">Level *</label>
      <select id="level" formControlName="level" class="input-field" required>
        <option value ='' disabled selected hidden>Select a Level</option>
        <option value="MSc">MSc</option>
        <option value="BSc">BSc</option>
      </select>
      <div *ngIf="myForm.get('level')?.hasError('required') && myForm.get('level')?.touched"
           class="text-danger text-sm mt-1">Level is required </div>
    </div>
    <div class="">
      <label for="CdS" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Cds/programmes *</label>
      <select id="CdS" formControlName="CdS" class="input-field" (change)="onSelectCdSChange($event)" (focus)="onSelectFocus()" (blur)="onSelectBlur()" [class.text-soft] = "myForm.get('courseType')?.hasError('required')  && !selectFocus">
        <option value ='' disabled selected hidden>Select a course type</option>
        <option *ngFor="let degree of degrees" value="{{degree.degreeId}}">{{degree.degreeId}} {{degree.titleDegree}}</option>
      </select>
      <div *ngFor="let cds of selectedCdS" class=" items-center flex gap-2 text-gray-700 hover:text-red-600 hover:cursor-pointer text-sm mt-1" (click)="removeCdS($event)" >{{cds.degreeId}} {{cds.titleDegree}}</div>
      <div *ngIf="myForm.get('CdS')?.hasError('required') && myForm.get('CdS')?.touched"
           class="text-danger">Course Type is required</div>
    </div>
    <div class="">
      <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description *</label>
      <textarea  type="text" id="description" formControlName="description" class="input-field" placeholder="Description" rows = 3 ></textarea>
      <div *ngIf="myForm.get('description')?.hasError('required') && myForm.get('description')?.touched"
           class="text-danger text-sm mt-1">Description is required</div>
    </div>
    <div class="">
      <label for="requirements" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Required Knowledge *</label>
      <textarea type="text" id="requirements" formControlName="requirements" class="input-field" placeholder="Required Knowledge" rows = 3 ></textarea>
      <div *ngIf="myForm.get('requirements')?.hasError('required') && myForm.get('requirements')?.touched"
           class="text-danger text-sm mt-1">Required Knoledge is required</div>
    </div>
    <div class="">
      <label for="notes" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Notes</label>
      <textarea type="text" id="notes" formControlName="notes" class="input-field" placeholder="Notes" rows = 3 ></textarea>
    </div>
    <div class="">
      <label for="keywords" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Keywords *</label>
      <input [class.text-gray-700] = "myForm.get('keywords')?.touched"  type="text" id="keywords" formControlName="keywords" class="input-field text-gray-300" placeholder="Keywords" (keydown.enter)="addKeyword($event)" >
      <div *ngIf="myForm.get('keywords')?.hasError('required') && myForm.get('keywords')?.touched"
           class="text-danger">At lest one keyword is required</div>
      <div *ngFor="let selectedKW of keywordsList" class=" items-center flex gap-2 text-gray-700 hover:text-red-600 hover:cursor-pointer text-sm mt-1" (click)="removeKeyword($event)">{{selectedKW}}</div>
    </div>
    <div class="">
      <label for="expirationDate" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Expiration Date *</label>
      <input type="date" id="expirationDate" formControlName="expirationDate" placeholder="Expiration" class="input-field" [class.text-soft] = "myForm.get('expirationDate')?.hasError('required')">
      <div *ngIf="myForm.get('expirationDate')?.hasError('required') && myForm.get('expirationDate')?.touched"
           class="text-danger">Expiration Date is required</div>
    </div>
  </div>
  <div class="flex flex-col items-center justify-center w-full gap-2">
    <div *ngIf="myForm.invalid" class="text-danger">Fields required marked with *</div>
    <button type="submit" [disabled]="myForm.invalid"  class=" bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline-blue active:bg-blue-800 disabled:bg-gray-500">
      Submit
    </button>
  </div>
</form>
