/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
.leftMenuItem {
  border-radius: 8px;
  padding: 8px 16px;
  text-align: center;
  margin-bottom: 8px;
  font-size: 16px;
  background-color: #e5e7eb;
  cursor: pointer;
}
.leftMenuItem.selected {
  background-color: #03577A;
}
.leftMenuItem.selected * {
  color: white;
}
.leftMenuItem.hovered {
  background-color: #d1d5db;
}

.card {
  @apply shadow-sm rounded-md shadow-gray-400 p-4 bg-white;
}

.separator {
  height: 1px;
  width: 100%;
  @apply bg-orange-500;
}
@media only screen and (max-width: 1000px) {
  .separator {
    display: none;
  }
}

.icon-16 {
  font-size: 16px;
  line-height: 16px;
  width: 16px;
  height: 16px;
}

.icon-20 {
  font-size: 20px;
  line-height: 20px;
  width: 20px;
  height: 20px;
}

* {
  color: #04264c;
}

.container {
  @apply columns-2 min-h-screen flex bg-gray-50 relative overflow-hidden;
  width: 100vw;
  max-width: 100vw;
}

.titleContainer {
  height: 12.5%;
  gap: 8px;
  @apply p-4 flex items-center justify-between border-b-2 border-orange-600;
}
@media only screen and (max-width : 768px) {
  .titleContainer {
    @apply text-center;
  }
}
.titleContainer .title {
  @apply uppercase text-3xl font-bold;
}
@media only screen and (max-width : 768px) {
  .titleContainer .title {
    @apply text-2xl;
  }
}
.titleContainer .notIconContainer {
  display: none;
  position: relative;
}
@media only screen and (max-width : 768px) {
  .titleContainer .notIconContainer {
    display: flex;
  }
}
.titleContainer .notIconContainer .counter {
  position: absolute;
  top: -5px;
  right: -5px;
  background: #EA580C;
  padding: 4px;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 12px;
  color: white;
}

.propic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: contain;
}

@media only screen and (max-width : 768px) {
  .overlay {
    @apply absolute top-0 left-0 h-full w-full z-10;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: -1;
    transition: all 0.3s ease-in-out;
  }
  .overlay.open {
    display: block;
    opacity: 1;
    z-index: 10;
  }
}

.menu-icon {
  display: none;
}
@media only screen and (max-width : 768px) {
  .menu-icon {
    cursor: pointer;
    display: block;
  }
}

.closeIcon {
  display: none;
}
.closeIcon.open {
  display: block;
  cursor: pointer;
  position: absolute;
  top: 10px;
  z-index: 15;
  color: white;
}
.closeIcon.open.left {
  left: 10px;
}
.closeIcon.open.right {
  right: 10px;
}

.left-col-mobile {
  @apply w-1/6 border-r-2;
}
@media only screen and (max-width : 1024px) {
  .left-col-mobile {
    @apply w-1/5;
  }
}
@media only screen and (max-width : 768px) {
  .left-col-mobile {
    width: 30%;
    @apply absolute top-0 left-0 h-full z-20 bg-gray-50;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }
  .left-col-mobile.open {
    transform: translateX(0);
  }
}
@media only screen and (max-width : 640px) {
  .left-col-mobile {
    width: 40%;
  }
}
@media only screen and (max-width : 480px) {
  .left-col-mobile {
    width: 70%;
  }
}
.left-col-mobile .nameContainer {
  @apply w-full mb-4 hidden;
}
@media only screen and (max-width : 768px) {
  .left-col-mobile .nameContainer {
    display: block;
  }
}

.right-side {
  max-height: 100vh;
  @apply w-5/6 flex flex-col;
}
@media only screen and (max-width : 1024px) {
  .right-side {
    @apply w-4/5;
  }
}
@media only screen and (max-width : 768px) {
  .right-side {
    @apply w-full;
  }
}
.right-side .main {
  height: 87.5%;
}
@media only screen and (max-width : 768px) {
  .right-side .main {
    @apply w-full;
  }
}
.right-side .main .main-col {
  @apply w-4/5  p-4;
}
@media only screen and (max-width : 1024px) {
  .right-side .main .main-col {
    @apply w-2/3;
  }
}
@media only screen and (max-width : 768px) {
  .right-side .main .main-col {
    @apply w-full;
  }
}
.right-side .main .right-col {
  height: 100%;
  max-height: 87.5vh;
  overflow: auto;
  @apply w-1/5 border-l-2 bg-gray-50;
}
@media only screen and (max-width : 1024px) {
  .right-side .main .right-col {
    @apply w-1/3;
  }
}
@media only screen and (max-width : 768px) {
  .right-side .main .right-col {
    width: 30%;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    height: 100vh;
    max-height: 100vh;
    z-index: 20;
    border-left: 0;
  }
  .right-side .main .right-col.open {
    transform: translateX(0);
  }
}
@media only screen and (max-width : 640px) {
  .right-side .main .right-col {
    width: 40%;
  }
}
@media only screen and (max-width : 480px) {
  .right-side .main .right-col {
    width: 70%;
  }
}

/*# sourceMappingURL=page-skeleton.component.css.map */
