<div class="columns-2 min-h-screen flex bg-gray-50" [ngClass]="theme ? 'dark' : ''">
  <ng-content></ng-content>
  <div class="max-md:hidden w-1/6 border-r-2 dark:bg-gray-900">
    <div class="md:p-4 border-b-2">
      <img src="assets/images/LogoPoli.svg" *ngIf="!theme" alt="no image found">
<!--      <img src="assets/images/LogoPoli.svg" alt="no image found">-->
      <img src="assets/images/LogoPoliWhite.svg" *ngIf="theme" alt="no image found">
    </div>
    <div class="md:p-4">
      <ng-content select="[left-col]"></ng-content>
    </div>

  </div>
  <div class="md:w-5/6 max-md:w-full flex flex-col">
    <div class="title p-4 flex items-center justify-between border-b-2 border-orange-500">
      <h2 class="uppercase text-3xl font-bold">thesis proposals</h2>
      <div class="flex items-center">
        <img alt="propic" src="https://picsum.photos/512/512" class="propic mr-4" *ngIf="currentRoute!=='/'">
        <p class="text-sm uppercase" *ngIf="currentRoute==='/student'">{{userDetails?.name}} {{userDetails?.surname}}, {{userDetails?.studentId}}</p>
        <p class="text-sm uppercase" *ngIf="currentRoute==='/professor'">first last, p123456</p>
        <app-button class="ml-4" (click)="logout()" *ngIf="currentRoute!=='/'">Logout</app-button>
      </div>
    </div>
    <div class="main columns-2 flex">
      <div class="md:w-4/5 max-md:w-full p-4">
        <ng-content select="[main-col]"></ng-content>
      </div>
      <div class="max-md:hidden w-1/5 border-l-2">
        <ng-content select="[right-col]"></ng-content>
      </div>
    </div>
  </div>
</div>
