<div class="container">
  <div class="flex justify-between items-center w-full">
    <p class="title">Your notifications</p>
    <mat-icon class="cursor-pointer" (click)="deleteAll()">delete_sweep</mat-icon>
  </div>
  <div class="notifications">
    <app-notification
      (delete)="delete($event)"
      (click)="read(n)"
      [notification]="n"
      *ngFor="let n of notificationsToShow" @slide @fade
    >
    </app-notification>
  </div>
  <div class="flex justify-between items-center w-full">
    <p class="">{{ showReadNotifications ? 'Hide' : 'Show' }} read notifications</p>
    <mat-icon class="historyIcon" (click)="toggleReadNotifications()">history</mat-icon>
  </div>
</div>
