@import "../../../../../../styles";

.container {
  padding: 16px;
  height: 87.5vh;
  display: flex;
  flex-direction: column;
  .title {
    font-size: 16px;
    font-weight: bold;
  }

  @media #{$media-tablet} {
    height: 100vh;
  }

  .notifications {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
    padding-right: 8px;
    padding-top: 8px;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.historyIcon {
  min-width: 24px;
  cursor: pointer;
}
