<form class="requestFormContainer" (ngSubmit)="submit($event)">
  <div class="input titleContainer">
    <label for="formTitle">Title*</label>
    <input class="input-field" [(ngModel)]="title" placeholder="Title" type="text" name="title" id="formTitle" required>
  </div>
  <div class="input professorContainer">
    <label for="formProfessor">Supervisor*</label>
    <select class="input-field" [(ngModel)]="professorId" name="professor" id="formProfessor" required>
      <option *ngFor="let professor of professors" [value]="professor.professorId">{{professor.name}} {{professor.surname}}</option>
    </select>
  </div>
  <div class="input descriptionContainer">
    <label for="formDescription">Description*</label>
    <textarea class="input-field" [(ngModel)]="description" name="description" placeholder="Description" rows="4" id="formDescription" required></textarea>
  </div>
  <div class="submitContainer">
    <app-button (click)="cancel()">Cancel</app-button>
    <app-button class="orange {{checkFields() ? '' : 'disabled'}}" [type]="'submit'">Submit</app-button>
  </div>
</form>
